<!DOCTYPE html>
<html>
	<head>
		<title>Math project</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html" id="logo">Math Project</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>
									<a href="analise.html">Análise</a>
									<ul>
										<li><a href="analise1.html">Curvas de Nível</a></li>
										<li><a href="analise2.html">Derivadas vs Plano Tangente</a></li>
										<li><a href="analise3.html">Vector Gradiente</a></li>
										<li><a href="analise4.html">Método multiplicadores Lagrange</a></li>
										<li><a href="analise5.html">Somas Darboux</a></li>
										<li class="current"><a href="analise6.html">Coordenadas Esféricas</a></li>
									</ul>
								</li>
								<li>
									<a href="probabilidades.html">Probabilidades</a>
									<ul>
										<li>
											<a href="probabilidades1.html">Problema 1</a>
											<ul>
												<li><a href="probabilidades1-1.html">Binomial</a></li>
												<li><a href="probabilidades1-2.html">Poisson</a></li>
												<li><a href="probabilidades1-3.html">etc.</a></li>
											</ul>
										</li>
										<li><a href="probabilidades2.html">Problema 2</a></li>
										<li>
											<a href="probabilidades3.html">Problema 3</a>
											<ul>
												<li><a href="probabilidades3-1.html">Binomial</a></li>
												<li><a href="probabilidades3-2.html">Poisson</a></li>
												<li><a href="probabilidades3-3.html">etc.</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
				</div>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Problemas</h3>
											<ul class="links">
												<li><a href="analise1.html">Curvas de Nível</a></li>
												<li><a href="analise2.html">Derivadas vs Plano Tangente</a></li>
												<li><a href="analise3.html">Vector Gradiente</a></li>
												<li><a href="analise4.html">Método multiplicadores Lagrange</a></li>
												<li><a href="analise5.html">Somas Darboux</a></li>
												<li><a href="analise6.html">Coordenadas Esféricas</a></li>
											</ul>
										</section>

								</div>
							</div>
							<div class="col-8  col-12-narrower imp-narrower">
								<div id="content">

									<!-- Content -->

									<article>
										<header>
											<h2>Coordenadas Esféricas</h2>
											<p>Enunciado do problema.</p>
										</header>

										<p>Breve explicação.</p>

									</article>

								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<section class="col-5 col-8-narrower col-15-mobilep">
							<h3>Links to Stuff</h3>
							<ul class="links">
								<li><a href="https://www.uminho.pt/PT">UMinho</a></li>
								<li><a href="https://www.ecum.uminho.pt/pt">Escola de Ciências</a></li>
								<li><a href="http://www.math.uminho.pt/">Departamento de Matemática</a></li>
								<li><a href="https://mate.unipv.it/~salvaran/IMEDiL/project.html">Projeto IMEDiL – Inclusive Mathematics Education based on Digital Learning | 2021-1-FR01-KA220-HED-000023486</a></li>
							</ul>
						</section>
					</div>
				</div>

				<!-- Icons -->
				<div style="display: flex; justify-content: center; margin-left: 550px;">
					<table>
						<tr>
							<td>
								<a href='http://www.uminho.pt/default.aspx' target="_blank">
									<img src="/static/images/escolas/um.gif"
									alt="Universidade do Minho" style="width: 70px;">
								</a>
								<a target="_blank" href='http://www.ecum.uminho.pt'>
									<img src="/static/images/escolas/220.gif"
									alt="Escola de Ciências" style="width: 70px;">
								</a>
							</td>
							<td>
								<a href='https://erasmus-plus.ec.europa.eu/' target="_blank">
									<img src="/static/images/erasmus.png" alt=""
									style="width: 232px;">
								</a>
								<a href='https://agence.erasmusplus.fr/en/' target="_blank">
									<img src="/static/images/erasmusfrance.png" alt=""
									style="width: 200px; margin-right: 500px;">
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<p style="font-size: smaller; margin: 0;">
									<a href='http://www.uminho.pt/default.aspx'>Universidade do Minho</a>
									<br>
									<a href='http://www.math.uminho.pt/'>Departamento de Matemática</a>
								</p>
							</td>
						</tr>
					</table>
				</div>

				<!-- Copyright -->
				<div class="copyright centered">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved</li><li>Design based on: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
	</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>