<!DOCTYPE html>
<html>
	<head>
		<title>Math project</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
						<h1><a href="index.html" id="logo">Math Project</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="index.html">Home</a></li>
								<li>
									<a href="analise.html">Análise</a>
									<ul>
										<li class="current"><a href="analise1.html">Curvas de Nível</a></li>
										<li><a href="analise2.html">Derivadas vs Plano Tangente</a></li>
										<li><a href="analise3.html">Vector Gradiente</a></li>
										<li><a href="analise4.html">Método multiplicadores Lagrange</a></li>
										<li><a href="analise5.html">Somas Darboux</a></li>
										<li><a href="analise6.html">Coordenadas Esféricas</a></li>
									</ul>
								</li>
								<li>
									<a href="probabilidades.html">Probabilidades</a>
									<ul>
										<li>
											<a href="probabilidades1.html">Problema 1</a>
											<ul>
												<li><a href="probabilidades1-1.html">Binomial</a></li>
												<li><a href="probabilidades1-2.html">Poisson</a></li>
												<li><a href="probabilidades1-3.html">etc.</a></li>
											</ul>
										</li>
										<li><a href="probabilidades2.html">Problema 2</a></li>
										<li>
											<a href="probabilidades3.html">Problema 3</a>
											<ul>
												<li><a href="probabilidades3-1.html">Binomial</a></li>
												<li><a href="probabilidades3-2.html">Poisson</a></li>
												<li><a href="probabilidades3-3.html">etc.</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</nav>
				</div>

			<!-- Main -->
				<section class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-narrower">
								<div id="sidebar">

									<!-- Sidebar -->
										<section>
											<h3>Problemas</h3>
											<ul class="links">
												<li><a href="analise1.html">Curvas de Nível</a></li>
												<li><a href="analise2.html">Derivadas vs Plano Tangente</a></li>
												<li><a href="analise3.html">Vector Gradiente</a></li>
												<li><a href="analise4.html">Método multiplicadores Lagrange</a></li>
												<li><a href="analise5.html">Somas Darboux</a></li>
												<li><a href="analise6.html">Coordenadas Esféricas</a></li>
											</ul>
										</section>

								</div>
							</div>
							<div class="col-8  col-12-narrower imp-narrower">
								<div id="content">

									<!-- Content -->

										<article>
											<header>
												<h2>Curvas de Nível</h2>
												<p>Enunciado do problema.</p>
											</header>

											<p>Breve explicação.</p>

										</article>

								</div>
							</div>
						</div>
					</div>
				</section>

				<!-- Footer -->
				<div id="footer">
					<div class="row">
						<section class="col-3 col-6-narrower col-12-mobilep">
							<h3>Links to Stuff</h3>
							<ul class="links">
								<li><a href="https://www.uminho.pt/PT">UMinho</a></li>
								<li><a href="https://www.ecum.uminho.pt/pt">Escola de Ciências</a></li>
								<li><a href="http://www.math.uminho.pt/">Departamento de Matemática</a></li>
							</ul>
						</section>
				</div>
				<!-- Copyright -->
				<div class="copyright centered">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved</li><li>Design based on: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>
	</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>